.navbar {
  .navbar-right{
   li a, img {
       cursor: pointer;
     }
    .profile-img {
       border-radius: 50%;
       height: 50px;
       padding: 5px;
    }
  }
  li.router-link-active.router-link-exact-active {
    border-bottom: 3px solid black;
    font-weight: 600;
  }
  .dropdown-menu {
    li.router-link-active.router-link-exact-active {
      border-bottom: none;
      border-left: 3px solid black;
      font-weight: 600;
    }
  }
  
}
